/*Louisa Yuxin Lin 1933472 Assignment 3*/
/*!--CSS file*/
body{
	background-color:black;
	font-family: Courier;
}
h1{
	color:blue;
	border:2px dotted red;
	text-align:center;
	padding:30px;
	margin:50px;
	margin-left:200px;
	margin-right:200px;
}
#btn{
	color:blue;
	padding:10px;
}
#RonS{
	width:500px;
	border:2px solid blue;
	margin:100px;
}
p{
	color:yellow;
}